:root{
  --gray-darker:hsl(120, 1%, 24%); /*#3C3D3C*/
  --background:hsl(120, 24%, 96%); /*#F2F7F2*/ /*#DCE0DC*/
  --gray-medium:hsl(120, 1%, 38%);/*#5F615F*/
  --gray-lighter:hsl(120, 3%, 71%);/*#B4B8B4*/
  --gray:hsl(120, 1%, 55%);/*##8C8F8C*/
}

header {
  background-color: #2a2c2a;
  color: #ffffff;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  min-height: 6rem;
}
header img {
  max-width: 100%;
  max-height: 100px;
  height: center;
  display: inline-block;
  float: left;
  margin-right: 20px;
}

.btn-primary {
  color: #ffffff;
  background-color: #2a2c2a;
  border-style: none;
  margin-bottom: 4rem;
}

.btn-primary:hover {
  background-color: #6b706b;
}

/*footer {
    background-color: #272C27;
    color: #ffffff;
    text-align: center;

    width: 100%;}*/

body {
  padding-bottom: 5rem;
}

h2.header-title {
  color: #272c27;
  margin-bottom: 1rem; /* Adicione uma margem inferior ao h2 */
  padding: 0.5rem;
  text-align: center;
}

.btn-group {
  margin-top: 1rem; /* Adicione uma margem superior ao grupo de botões */
  align-content: space-between;
}

.search-container {
  text-align: center;
  margin-top: 2rem;
}

.search-input {
  padding: 0.5rem;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-right: 1rem;}